/* .search-box {
  -webkit-appearance: none;
  border: none;
  outline: none;
  padding: 10px;
  width: 150px;
  line-height: 20px;
  margin-bottom: 30px;
} */

* {
  outline: none;
}

html,
body {
  height: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  background-color: #ffd8d8;
}

.tb {
  display: table;
  width: 100%;
}

.td {
  display: table-cell;
  vertical-align: middle;
}

input,
button {
  color: #fff;
  font-family: 'Bungee Inline', cursive;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
}

#cover {
  top: 50%;
  left: 0;
  right: 0;
  width: 550px;
  padding: 1px;
  margin: -40px auto 0 auto;
  margin-bottom: 20px;
  background-color: linear-gradient(
    to left,
    rgba(4, 15, 94) 0%,
    rgba(0, 107, 209) 110%
  );
  border-radius: 20px;

  box-shadow: 0 10px 0px #45a5f5, 0 0 0 10px #61dbfb;
  transform: scale(0.6);
}

form {
  height: 76px;
}

input[type='text'] {
  width: 100%;
  height: 60px;
  font-size: 40px;
  margin: 45px;
  position: center;
  transform: translate(0, -60%);
}

input[type='text']::placeholder {
  color: #45a5f5;
}
