body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
    to left,
    rgba(4, 15, 94) 0%,
    rgba(0, 107, 209) 110%
  );
  /* background: linear-gradient(to left, rgba(1, 5, 34) 0%, rgba(4, 15, 94) 100%); */
  text-align: center;
}

.app-title {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 45px;
  color: #61dbfb;
  font-family: 'Bungee Shade', cursive;
}
